<div class="container-fluid position-relative p-3 text-center bg-success ">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal text-light">Events Project</h1>
        <p class="lead font-weight-normal text-light">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple's marketing pages.</p>
<%= link_to 'Crééer un evenement', new_event_path, class:"btn btn-outline-secondary text-light"%>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
<p id="notice"><%= notice %></p>

<h1>Events</h1>

<br>
<section class="container">
<div class="row">
<% @events.each do |event| %>
  <div class="col-sm-3 mb-3 ">
    <div class="card box" style="width: 18rem;">
      <img src="https://loremflickr.com/320/240/brazil,rio" class="card-img-top">
        <div class="card-body">
        <h6 class="card-title"><%= event.title %></h6>
        <span class="badge bg-success"><%= event.price %> €</span>
        <div class="content mb-2">
          <p class="card-text text-truncate-container line-clamp"><%= event.description %></p>
        </div>
        <div class="footer ">
          <p class="txt3"><i class="far fa-calendar-alt"></i>  <%= event.start_date.strftime("%d %b, %Y") + " "+ event.start_date.strftime("%I:%M%P") %>     <i class="far fa-clock"></i>  <%= event.duration %>"</p>
          <p class="txt3"><i class="fas fa-user"></i>  <%= "#{event.administrator.first_name} #{event.administrator.last_name}" %></p> 
        </div>
            <% if logged_in?() && only_user?(event.administrator) %>
          <%= link_to 'Edit', edit_event_path(event), class:"btn-sm btn-info"  %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn-sm btn-danger" %>
                <br/>

        <% end %>
        <br/>
    <%= link_to 'Voir l\'évènement', event, class:" btn btn-success" %>
  </div>
</div>

</div>
<% end %>
</div>
</section>

    
<%= link_to 'New Event', new_event_path %>
